@import '../variables';

$border-radius: 15px;

.ui-kit-box {
  background-color: $body-bg; border-radius: $border-radius; overflow: hidden;

  &-title {
    margin-bottom: 0; padding: 1rem 1rem 0.5rem; background-color: $dark-bg; min-height: 1.5rem;
    display: flex; justify-content: center; position: relative;

    h5 {
      display: inline-block; float: left; margin: 0 0 0.5rem; padding: 0; text-overflow: ellipsis; font-size: 2rem;
      letter-spacing: 4px; font-weight: normal; font-family: Prozak, sans-serif;
    }
  }

  &-tools { float: right; position: absolute; right: 0.5rem; top: 0.5rem;
    &-link { display: inline-block; min-width: 1rem; margin-left: 0.5rem; cursor: pointer;
      &.close-icon {
        fill: white; border-radius: 50%; background-color: $black; display: flex; align-items: center;
        justify-content: center; padding: 3px; font-size: 20px; margin: 0; width: 20px; height: 20px;
        transition: opacity 0.3s;

        &:hover { opacity: 0.7; }
      }
    }
  }

  &-content {
    padding: 15px 20px 20px 20px; transition: all $transition-delay; box-sizing: border-box;
    color: $box-content-font-color;

    &-small-text { font-size: 14px; margin: 5px 0 20px;
      &.align-right { text-align: right; }
    }

    &-success-text { color: $error-color; }

    &-hidden { max-height: 0; overflow: hidden; padding-top: 0; padding-bottom: 0; }
  }

  &-footer { padding: 1rem; display: flex; justify-content: center; }
}