APP_NAME=Laravel
APP_ENV=
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

FILESYSTEM_DRIVER=local

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

FRONTEND_URL=http://localhost

DATA_COLLECTOR_KEY=

TWILIO_ACCOUNT_SID=test
TWILIO_AUTH_TOKEN=test
TWILIO_VERIFICATION_SID=test

RECAPTCHA_SITE_KEY=YOUR_API_SITE_KEY
RECAPTCHA_SECRET_KEY=YOUR_API_SECRET_KEY

JWT_SECRET=Wr1Aj82LjKDAQwoIaa2cqBz9ojcur2dmPI7zeO0tj8lElqpfp4ebbBnBZIFrgKsr
JWT_ALGO=HS256

MTCAPTCHA_PRIVATE_KEY=secret
# strip secrect key
STRIPE_SECRET=sk_test_51Gsu0gGNBOuB2nPQGCvkWXzH3hxlnEhKl8xsrTnw1jyL1jkXXdr6hCgFyaIWWg4tnodKXnAsFeVtUjHDn2InfbKI00yyojfsp7