@import '../variables';

.search-bar {
  position: relative; height: 40px;

  &-content {
    display: flex; justify-content: flex-start; align-items: center; height: 40px; width: fit-content;
    border: 2px solid $border-color; border-radius: 30px; background: $header-background-color;

    &-search-bar { display: flex; align-items: center; margin-right: 5px; }

    &-input {
      width: 200px; background: $header-background-color;
      margin-left: 10px; border: none; border-radius: 20px; color: $border-color;
    }

    &-icon {
      width: 40px; height: 40px; border-radius: 50%; cursor: pointer;
      display: flex; align-items: center; justify-content: center; position: relative;

      & .search-icon { width: 20px; height: 20px; fill: $border-color; }
      &-expanded { border: 2px solid $border-color; border-right: none; }
    }

    &-expanded {

      & .search-bar-content-search-bar { animation: 1s expanded; }

      & .search-bar-content-icon { background: $header-background-color }

      @media (max-width: $mobile) {
        position: absolute; z-index: 2; top: 0;
      }
    }
    @keyframes expanded {
      0% {
        width: 0;
        overflow: hidden;
      }
      100% {
        width: 315px;
        overflow: hidden;
      }
    }
  }
}